<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<title>JerkApp</title>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

	<!-- inject:css -->
	<!-- endinject -->

	<!-- Asshole fee -->
	<!-- <link rel="stylesheet" type="text/css" href="html/reg.css"> -->
	<link href="src/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">JerkApp <span class="ja-logo">🚗😡💰</span></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Navbar Link</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col s2"></div>
			<div class="col s8">
				<div class="card hoverable">
					<div class="card-image">
						<img src="src/img/sample-1.jpg">
						<span class="card-title">redeemed yourself</span>
					</div>
					<div class="card-content">
						{{ res }}
						<p><h4>Officialy not a Jerk anymore! 😇</h4>
						You gave back to society</p>
					</div>
					<div class="card-action">
						<a href="/">Go to shame board 😁</a>

					</div>
				</div>

			</div>
			<div class="col s2"></div>
		</div>

	</div>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified CSS -->
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

	<!-- <script src="/src/js/script.js"></script> -->
	<!-- inject:js -->
	<!-- endinject -->
</body>

</html>
